* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dsr {
  padding: 50px 30px;
  border-radius: 30px;
  background: #fff;
}
.dsr__title-area {
  margin-bottom: 35px;
  position: relative;
  text-align: center;
}
.dsr__title-area svg {
  position: absolute;
  top: 0;
  left: 0;
}
.dsr__title-area-title {
  color: #222950;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.714%; /* 24.069px */
  letter-spacing: 0.54px;
}

.dsr__item {
  border-radius: 10px;
  border: 1px solid rgba(46, 49, 133, 0.08);
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(5, 46, 128, 0.05);
  margin-bottom: 20px;
  display: flex;
  padding: 17px;
  align-items: center;
  justify-content: space-between;
}

.dsr__item-left-side {
  display: flex;
  align-items: center;
}
.dsr__item-btn {
  padding: 13px;
  color: #007aff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.714%; /* 21.394px */
  letter-spacing: 0.48px;
  background-color: #f2f8ff;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-right: 17px;
}
.dsr__item-title {
  color: #222950;
  font-family: "Baloo Da 2";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}
